<div class="tech-btm">
    <p>Do not miss anything! </p>
    <form action= "/NewsLetters/SubscribeMail" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>
