
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Writer Ajax Operations</h1>
<br />



<br />
<br />
<div id="writerlist">

</div>
<button type="button" id="btngetlist" class="btn btn-outline-primary">Writer List</button>
<br />
<div id="writerget">

</div>
<br />
<div>
    <input type="text" id="writerId" placeholder="Enter Writer ID" class="form-control" />
</div>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Get Writer</button>
<br />
<br />
<div>
    <input type="text" id="txtwriterId" placeholder="Writer ID" class="form-control" />
    <input type="text" id="txtwriterName" placeholder="Writer Name" class="form-control" />
</div>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Add Writer</button>
<br />
<br />
<div>
    <input type="text" id="txtId" placeholder="Writer ID" class="form-control" />
</div>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Delete Writer</button>
<br /><br />
<div>
    <input type="text" id="updatewriteid" placeholder="Writer ID" class="form-control" />
    <input type="text" id="updatewritename" placeholder="Writer Name" class="form-control" />
</div>
<button type="button" id="btndupdatewriter" class="btn btn-outline-warning">Update Writer</button>

@section scripts {
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let writerLog = jQuery.parseJSON(func);
                    console.log(writerLog);
                    let tablehtml = "<table class=table table-bordered> <tr><th>Writer ID</th><th>Writer Name</th></tr>";
                    $.each(writerLog, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });
        $("#btngetbyid").click(x => {
            let id = $("#writerId").val();
            $.ajax({
                contentType: "application/json",
                type: "Get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerId: id },
                success: function (func) {
                    let writerConvert = jQuery.parseJSON(func);
                    console.log(writerConvert);

                    let getValue = `<table class=table table-bordered> <tr><th>Writer ID</th><th>Writer Name
                                        </th></tr> <tr><td>${writerConvert.Id}</td><td>${writerConvert.Name}</td></tr></tbale>`;
                    $("#writerget").html(getValue);

                }
            });
        });
        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtwriterId").val(),
                Name: $("#txtwriterName").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Writer is succesfully added");
                }
            });
        });
        $("#btndeletewriter").click(function () {
            let id = $("#txtId").val();
            $.ajax({
                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "Post",
                dataType: "json",
                success: function (func) {
                    alert("Writer is succesfully deleted");
                }
            });
        });
        $("#btndupdatewriter").click(function () {
            let writer = {
                Id: $("#updatewriteid").val(),
                Name: $("#updatewritename").val()
            };
            $.ajax({
                type: "Post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    alert("Writer is succesfully updated");
                }
            });
        });
    </script>
}
