
@{
    ViewData["Title"] = "GetExcelBlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>GetExcelBlogList</h1>
<br />
<a href="/Admin/Blogs/ExportStaticExcelBlogList/" class="btn btn-primary">Download Excel Blog List</a>

